.chat-main
  .chat-main__main-header
    .left-header
      .header-group
        test
      .header-name
        member
    .right-header
      .edit-flame
        = link_to "#", class: "edit__btn" do
          Edit
          
  .chat-main__message-list
    .submit
      kouso
      .submit-right
        2019/11/11
    .comment
      おはよう
    .submit
      kouso
      .submit-right
        2019/11/11
    .comment
      おはよう

  .chat-main__message-form
    .left-form
      .text
      こんにちは
      .image
        %label{class: "image__btn"}
          = icon('fas', 'image')
          %input{type: "file",class: "images"}
    .ringht-form
      = link_to "#", class: "send__btn" do
        Send