.side-bar
  .side-bar__side-header
    .header-name
      .user-name
        a
      .icon
        = link_to "#", class: "contents__btn" do
          = icon('fa', 'fas fa-cog')
        = link_to "#", class: "contents__btn" do
          = icon("fa", "fas fa-edit")
  .side-bar__groups
    .group-list
      .group-name
        techcamp
      .group-text
        おはよう