* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.side-bar {
  background-color: #253141;
  height: 100vh;
  width: 300px;
  &__side-header {
    color: white;
    background-color: #253141;
    height: 100px;
    width: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    }
    .header-name {
      color: white;
      background-color: #333333;
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
    }
      .user-name {
        background-color: #253141;
        width: 100%;
        font-weight: bolder;
        line-height: 20px;
      }
      .icon {
        width: 60px;
        line-height: 20px;
      }
        .contents__btn {
          color: white;
          margin-left: 5px;
          float: right;
        }
  &__groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    overflow: scroll;
    }
    .group-list {
      width: 100%;
      margin: 0 20px;
      text-decoration: underline;
    }
      .group-name {
        color: white;
        font-size: 15px;
        font-weight: bold;
        padding-top: 20px;
      }
      .group-text {
        color: white;
        font-size: 11px;
        font-weight: bold;
        margin: 5px 0 40px;
      }
}



.chat-main {
  background-color: white;
  height: 100vh;
  width: calc(100vw - 300px);
  &__main-header {
    background-color: white;
    border-bottom: 1px solid #eeeeee;
    height: 100px;
    display: flex;
    justify-content: space-between;
  }
    .left-header {
      padding-top: 35px;
      padding-left: 40px;
    }
      .header-group {
        color: #333333;
        font-size: 20px;
        margin-bottom: 15px;
      }
      .header-name {
        color: #999999;
        font-size: 12px;
      }
    .edit-flame {
      border: 1px solid #38aef0;
      height: 40px;
      width: 72px; 
      margin-top: 28px;
      margin-right: 40px;
      line-height: 40px;
    }
      .edit__btn {
        color: #38aef0;
        display: block;
        font-size: 16px; 
        text-align: center;
        text-decoration: none;
      }

      
  &__message-list {
    background-color: white;
    height: calc(100vh - 190px);
    padding: 35px 40px 40px;
    overflow: scroll;
  }
    .message_box {
      color: #434a54;
      font-size: 14px;
      padding-bottom: 46px;
      .submit {
        color: #333333;
        font-size: 16px;
        padding-bottom: 12px;
      }
        .submit-right {
          color: #999999;
          font-size: 12px;
          margin-left: 10px;
          display: inline-block;
        }
    }

  

  &__message-form {
    background-color: #d2d2d2;
    height: 90px;
    padding-left: 40px;
    line-height: 50px;
    overflow: hidden;
    position: relative;
  }
    .left-form {
      background-color: white;
      height: 50px;
      width: calc(100% - 150px);
      margin-top: 20px;
      position: relative;
    }
      .text {
        width: 100%;
      }
        .texts {
          border: white;
          height: 50px;
          width: 100%;
          padding:0 40px 0 10px;
        }
      .image {
        font-size: 25px;
        position: absolute; right: -40px; bottom: -50px;
        padding: 50px;
      }
        .image__btn {
          color: black;
          cursor: pointer;
        }
        .images {
          display: none;
        }
        
      .send__btn {
        color: white;
        background-color: #38aef0;
        border: #38aef0;
        height: 50px;
        width: 100px;
        font-size: 16px;
        display: block;
        position: absolute; top:20px; right: 40px;
        cursor: pointer;
      }
}